@import url("https://fonts.googleapis.com/css?family=Alata&display=swap&subset=vietnamese");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  background: #060ab2;
}

.memory-game {
  height: 90%;
  width: 90vh;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(12.5% - 10px);
  height: calc(12.5% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;

  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.order {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: antiquewhite;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flip-card {
  height: 35%;
  width: 35vh;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.flip-card.flip {
  transform: rotateY(180deg);
}

.match {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 100%;
  visibility: hidden;
}

/* JUMP */
h1 {
  cursor: default;
  width: 100%;
  height: 100px;
  display: block;
  text-align: center;
}

h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  -webkit-animation: bounce 0.3s ease infinite alternate;
  font-size: 80px;
  color: #4bec4b;
  text-shadow: 0 1px 0 #4bec4b, 0 2px 0 #4bec4b, 0 3px 0 #4bec4b,
    0 4px 0 #4bec4b, 0 5px 0 #4bec4b, 0 6px 0 transparent, 0 7px 0 transparent,
    0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}

h1 span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #aae4aa, 0 2px 0 #aae4aa, 0 3px 0 #aae4aa,
      0 4px 0 #aae4aa, 0 5px 0 #aae4aa, 0 6px 0 #aae4aa, 0 7px 0 #aae4aa,
      0 8px 0 #aae4aa, 0 9px 0 #aae4aa, 0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
